<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="https://www.facebook.com/skarebyggtjanst/" target="_blank"><img src="../../assets/icons/sannasrumse-facebook-pack6-darkgrey.png"/></a>
        <a href="mailto:per.pm@outlook.com"><img src="../../assets/icons/sannasrumse-mail-pack6-darkgrey.png"/></a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        Skåre Byggtjänst AB © | Tel: 070-480 76 34 <span class="hidden-md-down">| Org. nr: xxx xxxx xx</span>
      </div>
    </div>

  </div>
</footer>
