<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="https://www.facebook.com/skarebyggtjanst/" target="_blank"><img
          src="../../assets/icons/sannasrumse-facebook-pack6-darkgrey.png"/></a>
        <a href="https://www.instagram.com/skarebyggtjanst/" target="_blank"><img
          src="../../assets/icons/sannasrumse-instagram-pack6-darkgrey.png"/></a>
        <a href="mailto:per.magnusson@skarebyggtjanst.se"><img
          src="../../assets/icons/sannasrumse-mail-pack6-darkgrey.png"/></a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span>Skåre Byggtjänst AB © &nbsp;&nbsp;|&nbsp;&nbsp;Tel: 070-480 76 34<span class="d-none d-sm-inline">&nbsp;&nbsp;|&nbsp;&nbsp;Org. nr: 559091-5061</span></span>
      </div>
    </div>

  </div>
</footer>
