<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Skåre Byggtjänst AB</h1>
    <p>Bygg och renovering</p>
  </div>
</div>

<div class="container">
  <p>
    Rotavdrag

    Reparation och underhåll samt om- och tillbyggnad räknas som ROT-arbeten och ger rätt till skattereduktion om det
    utförs i eller i nära anslutning till en bostad som du:

    äger och som du bor i eller har som fritidsbostad eller
    äger och som dina föräldrar bor i.

    Du får däremot inte skattereduktion för att bygga ett helt nytt hus och inte heller för om - och tillbyggnad av
    nybyggda hus. Med nybyggt hus avses ett småhus som har värde år fem år eller yngre.
  </p>
</div>
