<app-hero [image]="'skruvar'"></app-hero>

<div class="container pageContainer">

  <p>Vi erbjuder arbeten inom följande områden:</p>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>Altan</li>
        <li>Uterum</li>
        <li>Bastu</li>
        <li>Fönsterbyte</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        <li>Köksrenovering</li>
        <li>Takbyte</li>
        <li>Golväggning</li>
        <li>Badrum</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h3 class="card-title">
        <img src="../../../assets/images/logo-facebook.png"
             alt="Länk till vår Facebook"
             style="height: 60px;margin-right: 20px;"/>
        <img src="../../../assets/images/instagram_logo.png"
             alt="Länk till vår Instagram"
             style="height: 50px;margin-right: 20px;"/>
      </h3>
      <p class="card-text">
        Följ oss på <a target="_blank" href="https://www.facebook.com/skarebyggtjanst/">Facebook</a> och <a
        target="_blank" href="https://www.instagram.com/skarebyggtjanst/">Instagram</a> där vi fortlöpande kommer att
        lägga ut information om våra projekt
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ng2-instagram-embed [shortCode]="'BQbKDCoFPPn'"></ng2-instagram-embed>
    </div>
  </div>

 <!-- <div class="row">
    <div class="col-sm-12">
      junk
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      &lt;!&ndash; LightWidget WIDGET &ndash;&gt;
      <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/7ededef0d3fd5cf49b42604a41c4b700.html" scrolling="no"
              allowtransparency="true" class="lightwidget-widget"
              style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
  </div>
-->
  <div class="row">
    <div class="col-sm-6">
      <div [innerHTML]="instaImageHtml"></div>
    </div>
    <div class="col-sm-6">
      <!-- GET A SINGLE IMAGE-->
      GET A SINGLE IMAGE as binary
      <img src="https://instagram.com/p/BQbKDCoFPPn/media/?size=m"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-om-card></app-om-card>
    </div>
    <div class="col-sm-6">
      <app-kontakta-oss-card></app-kontakta-oss-card>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h3 class="card-title">
        <a target="_blank"
           href="https://www.skatteverket.se/privat/fastigheterochbostad/rotochrutarbete/villkorforattfarotavdrag.4.5947400c11f47f7f9dd80004014.html">
          <img src="../../../assets/images/rotavdrag.jpg"
               alt="Information om ROT"
               style="height: 65px;margin-right: 20px;"/>
        </a>ROT-avdrag</h3>

      <p class="card-text">
        Reparation och underhåll samt om- och tillbyggnad räknas som ROT-arbeten och ger rätt till skattereduktion om
        det
        utförs i eller i nära anslutning till en bostad som du:
      </p>
      <ul>
        <li>äger och som du bor i eller har som fritidsbostad eller</li>
        <li>äger och som dina föräldrar bor i</li>
      </ul>
      <p class="card-text">
        Du får däremot inte skattereduktion för att bygga ett helt nytt hus och inte heller för om - och tillbyggnad
        av
        nybyggda hus. Med nybyggt hus avses ett småhus som har värde år fem år eller yngre.
      </p>
      <a target="_blank"
         href="https://www.skatteverket.se/privat/fastigheterochbostad/rotochrutarbete/villkorforattfarotavdrag.4.5947400c11f47f7f9dd80004014.html">Läs
        mer</a> på Skatteverkets informationssida
    </div>
  </div>

</div>
