<app-hero [image]="'linjal'"></app-hero>

<div class="container pageContainer">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Om Skåre Byggtjänst</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/om" class="btn btn-primary">Läs mer</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Kontakta oss</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/kontakt" class="btn btn-primary">Läs mer</a>
        </div>
      </div>
    </div>
  </div>
</div>
