@import "../styles/variables.scss";

nav {
  color: $text-color;
  background-color: white;
}

.navbar-brand img {
  height: 40px;
  width: auto;
  opacity: 0.8;
}

@media (max-width: $media-breakpoint-md) {
  .navbar-brand img {
    height: 35px;
  }
}

.navbar-nav .nav-link {
  color: $text-color;
  :active {
    color: green;
  }
}

/*
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}*/

