<div class="container pageContainer">
  <h1>Kontakt</h1>

  <h2 *ngIf="tack">Tack för ditt medddelande. Vi kontaktar dig inom kort!</h2>

  <p>Kontakta oss via mail, telefon. Det går även bra att komma i kontakt med oss via Facebook eller Instagram.</p>
  <strong>Per Magnusson<br/></strong>
  Telefon: 070-480 76 34<br/>
  E-post: <a href="maito:per.pm@outlook.com">per.pm@outlook.com</a><br/><br/>
  Facebook: <a href="https://www.facebook.com/skarebyggtjanst/" target="_blank">facebook.com/skarebyggtjanst</a><br/>
  Instagram: <a href="https://www.instagram.com/skarebyggtjanst/" target="_blank">instagram.com/skarebyggtjanst</a>


  <!--
  <form method="post" action="http://www.example.com/cgi-bin/FormMail.pl"
        accept-charset="ISO-8859-1" onsubmit="var originalCharset = document.charset;
document.charset = 'ISO-8859-1';
window.onbeforeunload = function () {document.charset=originalCharset;};">
    Namn
    <br/>
    <input class="shortInput" name="realname"/>
    <br/>
    E-post
    <br/>
    <input class="shortInput" name="email"/>
    <br/>
    Meddelande
    <br/>
    <textarea cols="40" rows="10" name="Message"></textarea>
    <br/>
    <input class="shortInput" type="submit" class="btn btn-primary" value="Skicka"/>
    <input type="hidden" name="recipient" value="jonas.m.karlsson@gmail.com"/>
    <input type="hidden" name="subject" value="Subject"/>
    <input type="hidden" name="redirect"
           value="/kontakt/tack"/>
    <input type="hidden" name="missing_fields_redirect"
           value="http://www.example.com/fel.html"/>
    <input type="hidden" name="required" value="realname,email,Message"/>
  </form>-->
</div>
