<div class="jumbotron linjal">
</div>

<div class="container pageContainer">
  <h3>Kontakt</h3>

  <h2 *ngIf="tack">Tack för ditt medddelande. Vi kontaktar dig inom kort!</h2>

  <p>Kontakta oss via mail eller telefon.</p>
  <strong>Per Magnusson<br/></strong>
  Telefon: 070-480 76 34<br/>
  E-post: <a href="maito:per.pm@outlook.com">per.magnusson@skarebyggtjanst.se</a><br/><br/>
  Det går även att komma i kontakt med oss via <a href="https://www.facebook.com/skarebyggtjanst/" target="_blank">facebook.com/skarebyggtjanst</a>
  eller <a href="https://www.instagram.com/skarebyggtjanst/" target="_blank">instagram.com/skarebyggtjanst</a>.
</div>
