<div class="container pageContainer">
  <h1>Kontakt</h1>

  <h2 *ngIf="tack">Tack för ditt medddelande. Vi kontaktar dig inom kort!</h2>

  <p>Kontakta oss via mail, telefon. Det går även bra att komma i kontakt med oss via Facebook eller Instagram.</p>
  <strong>Per Magnusson<br/></strong>
  Telefon: 070-480 76 34<br/>
  E-post: <a href="maito:per.pm@outlook.com">per.magnusson@skarebyggtjanst.se</a><br/><br/>
  Facebook: <a href="https://www.facebook.com/skarebyggtjanst/" target="_blank">facebook.com/skarebyggtjanst</a><br/>
  Instagram: <a href="https://www.instagram.com/skarebyggtjanst/" target="_blank">instagram.com/skarebyggtjanst</a>
</div>
