<div class="container pageContainer">
  <img src="../../assets/images/logga_med_text.png" class="img-fluid">
  <div class="row pt-4">
    <div class="col-sm-12">
      <p>
        Vi utför i första hand tillbyggnader, nybyggnation och köksrenoveringar. Vi samverkar med hantverkare inom alla
        områden och kan därmed utföra
        totalentreprenad.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Företaget bildades under slutet av 2016 och sedan dess har verksamheten varit i full
        gång. Vi är idag åtta Snickare på företaget som tycker att snickra är bland det
        roligaste som finns och att dessutom få ha kontakten med kunder, leverantörer och
        andra hantverkare gör att vi inte kan tänka oss ett bättre jobb. Målet är att med god
        kommunikation och planering uppfylla varje kunds önskemål. Från första möte till
        slutbesiktning ska alla känna att det fungerar som det är tänkt.
      </p>
      <p>
        Företaget utgår från Karlstad men kan utföra jobb i hela Värmland.
      </p>
      <p>Skicka ett mejl eller slå en signal så diskuterar vi ert projekt och hittar bästa
        lösningen tillsammans.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid" src="../../assets/images/per_1_b_w.jpg"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a routerLink="/kontakt" class="btn btn-primary">Kontakta oss</a>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col">
      <tidigare-jobb-carousel></tidigare-jobb-carousel>
    </div>
  </div>
</div>
