<app-hero [image]="'takstolar'"></app-hero>
<div class="container pageContainer">
  <h1>Om Skåre Byggtjänst</h1>
  <div class="row">
    <div class="col-sm-12">
      <p>
        Vi utför alla förekommande arbeten inom nybyggnad, ombyggnad och renovering. Genom samarbete med hantverkare inom andra områden kan vi även hjälpa till med bl.a. badrum, kök och utomhuspooler.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <p>Företaget bildades under slutet av 2016 och sedan dess har verksamheten varit i full gång. Att snickra är bland det roligaste som finns och att dessutom få ha kontakten med kunder, leverantörer och andra hantverkare gör att jag inte tänka mig ett bättre jobb. Vårt mål är att med god kommunikation och planering uppfylla kundernas önskemål. Från första möte till slutbesiktning ska alla känna att allt fungerar som det är tänkt.
        </p>
        <p>Skicka ett mail eller slå en signal så diskuterar vi ert projekt och hittar bästa lösningen tillsammans.</p>
    </div>
    <div class="col-sm-6">
        <img class="img-fluid" src="../../assets/images/per_1_b_w.jpg"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a routerLink="/kontakt" class="btn btn-primary">Kontakta oss</a>
    </div>
  </div>
</div>
