<app-hero [image]="'takstolar'"></app-hero>
<div class="container pageContainer">
  <h1>Om företaget</h1>
  <div class="row">
    <div class="col-sm-6">
      <p>Företaget bildades xxx av xxx g gergt ergegt ergt erggt ergtg wgrt
       erger gr rgrgf ergf eg g er geg ewrge wrg
       efgweg werg werg weg ewrg ewr g
       efgrg e erge rg wr ewrg werg werg wer grew gewr gwre gwer gre w rew g
       weg</p>
      <p>Lite mera text. df fsd fsdf sdf gdsf gds gdsfg dsf gdsfg sd ggfdsfg fdg dsfg
      sfdg dsfg dsfg dsfg dsf gsdfg sdf gdsf gds fg </p>
      <a routerLink="/kontakt" class="btn btn-primary">Kontakta oss</a>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid" src="../../assets/images/per_1_b_w.jpg"/>
    </div>
  </div>
</div>
