@import "app/variables";
/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 70px;
  margin-bottom: 120px;
  font-family: "Arial";
  color: @text-color;
}

.container {
  max-width: 660px;
}

.btn-primary {
  color: #fff;
  background-color: @skare-orange;
  border-color: @skare-orange;
  width: 100%;
  margin-top: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color:  darken(@skare-orange, 10%);
  border-color: darken(@skare-orange, 10%);
}

.pageContainer {
  padding-top: 30px;
  padding-bottom: 60px;
}

.card {
  margin-top: 30px;
}
